# {{ ansible_managed }}

@def $FERM_DOMAINS = ({{ ferm_domains|join(" ") }});

@def $IF_MNGT = {{ ferm_if_mngt|default('eth0') }};
@def $IF_APP = {{ ferm_if_app|default('eth0') }};
@def $IF_DB = {{ ferm_if_db|default('eth0') }};

@def $NET_MNGT = ({{ ferm_net_mngt|default(['0.0.0.0/0', '::0'])|join(" ") }});
@def $NET_APP = ({{ ferm_net_app|default(['0.0.0.0/0', '::0'])|join(" ") }});
